{# TODO: Refactor to accept a dict of hx-attributes to apply #} {# TODO:
Refactor to name inner container? #} {# Several params are passed in to make
this dynamic: 1. HTTP method 2. app endpoint 3. Sidebar position - left or right
4. Hidden: bool #} {# prettier-ignore-start #}
<section  _="on closeModal from body
        add .hide to me
        then wait 1s
        then remove me
        end
        "
  id="{{position}}-sidebar"
  class="sidebar sidebar--{{ position }} {{'hide' if hide}}"
>
  {%if position == 'right' %}
  <button class="btn-close" _="on click trigger closeModal">× close</button>
  <h2>{{title}}</h2>
  {% endif %}
  <div id="{{position}}-sidebar-inner">
    {{ render_partial(partial, **data) }} {% if items %} {% for item in items %}
    {{ render_partial(partial, item=item, data=data )}} {%endfor%} {% endif %}
  </div>
</section>
{# prettier-ignore-end #}
