import os
from dotenv import load_dotenv

# Load your environment secrets when the app is started.
for env_file in ('.env', '.flaskenv'):
        env = os.path.join(os.getcwd(), env_file)
        if os.path.exists(env):
                load_dotenv(env)

workers = 1
bind = '127.0.0.1:5555'
umask = 0o007
timeout = 60 

# Logging settings
capture_output = False # Capture print statements
accesslog = '-' # Set access log location. Needs an absolute path
errorlog = '-' # Set error log location. Needs an absolute path
loglevel = 'error' # Decrease log level in prod. Defaults to 'error'
