<div class="course-header">
  <h1>{{ assignment.name }}</h1>
</div>
<button
  hx-get="{{ url_for('course.get_alignment_form', course_id=course_id, assignment_id=assignment.id)}}"
  hx-target="main"
  hx-swap="beforeend"
>
  Align standards
</button>
<div class="box flex">
  {% for standard in assignment.alignments %}
  <div class="box outcome">
    <h2>{{ standard.name }}</h2>
    <p>{{ standard.description }}</p>
    <label class="form-row"
      >Bulk score
      <fieldset>
        <label class="radio-card">
          <input
            _="on click call setAllScores(my.value)"
            type="radio"
            name="bulk-score"
            value="0"
          />
          <span class="radio-label">0</span>
        </label>
        <label class="radio-card">
          <input
            _="on click call setAllScores(my.value)"
            type="radio"
            name="bulk-score"
            value="1"
          />1</label
        >
        <label class="radio-card">
          <input
            _="on click call setAllScores(my.value)"
            type="radio"
            name="bulk-score"
            value="2"
          />2</label
        >
      </fieldset>
    </label>
    <button
      hx-delete="{{ url_for('assignment.remove_standard_alignment', assignment_id=assignment.id, standard_id=standard.id)}}"
    >
      Remove
    </button>
  </div>
  {% endfor %}
</div>
<hr />
<section class="box flex wide">
  {% for standard in assignment.alignments %}
    <h2>{{ standard.display_name }}</h2>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Score</th>
        </tr>
      </thead>
      <tbody>
        {% for student in results %}
        {% if student['items'] %}
          {% set attempt=student['items'] %}
          {% set id_string="{}-{}".format(student['user'].id,standard.id) %}
        {% endif %}
        <tr class="student-score">
          <td>
            {{ student["user"].last_name }}, {{ student["user"].first_name }}
          </td>
          <td>
            <fieldset
              hx-swap="none"
              hx-trigger="change"
              include="this"
              hx-put="/standards/{{attempt[0].standard_id}}/attempts/{{attempt[0].id}}?source=standard"
            >
            {% for i in range(3) %}
              <label class="radio-card">
                <input
                  type="radio"
                  class="score-{{standard.id}}"
                  name="score-{{id_string}}"
                  value="{{loop.index0}}"
                  {% if standard.id in student['includes'] %}
                  {% set attempt=student['items']|selectattr("standard_id", "equalto", standard.id)|list %}
                  {% if attempt[0].score == loop.index0 %}checked{% endif %} />
                  {% endif %}
                <span class="radio-label">{{loop.index0}}</span>
              </label>
              {% endfor %}
            </fieldset>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endfor %}
</section>
