{% for item in items %}
<div
  id="course-{{item.id}}"
  class="item course-item"
  hx-get="/courses/{{ item.id}}"
  hx-trigger="click"
  hx-target="#course-detail"
  hx-swap="innerHTML"
  hx-indicator="#toast"
  hx-push-url="true"
  _="on click 
            remove .active from <div />
            then add .active to me"
>
  <div
    class="course-item-inner"
    title="{{item.standards|length}} standards{%if item.standards|length == 0 or item.standards|length > 1%}s{%endif%} set up"
  >
    <p>{{ item.name }}</p>
  </div>
</div>
{% endfor %}
