<table id="course-roster">
  <thead>
    <tr>
      <th class="columnheader" role="columnheader">
        <div class="th-inner-container">
          <p>Name</p>
        </div>
      </th>
      {% for standard in course.standards %} {% if standard.active %}
      <th class="columnheader" role="columnheader">
        <div class="th-inner-container">
          <span>{{ standard.name }}</span>
        </div>
      </th>
      {% endif %} {% endfor %}
    </tr>
  </thead>
  <tbody class="scroller">
    {% for student in students %} {% if student.active %}
    {{render_partial('course/partials/student_entry.html', student=student,
    course=course)}}{% endif %} {% endfor %}
  </tbody>
</table>
