<!--
	This dialog allows for a bulk input of assignment names, scores, and comments.
	-->
<dialog _="on load set $dialog to me">
  <form id="bulk-form" class="stack">
    <p>Bulk add assignments, scores, and comments</p>
    <label for="score"
      >Score
      <input name="score" id="score" type="number" max="1" />
    </label>
    <label for="assignment"
      >Assignment
      <select id="assignment" name="assignment">
        {% for assignment in assignments %}
        <option value="{{ assignment.id }}">{{assignment.name}}</option>
        {% endfor %}
      </select>
    </label>
    <label for="comments"
      >Comments
      <textarea name="comments" id="comments"></textarea>
    </label>
  </form>
  <button
    class="btn btn-primary"
    _="on click get (the previous <form />) as Values log it call bulkAddInfo(it) end"
  >
    Fill
  </button>
  <button class="btn" _="on click call $dialog.close()">Close</button>
</dialog>

<div class="box flex wide">
  <h1>{{ standard.name }} Results</h1>
  <div class="actions">
    <div class="roster-actions--buttons">
      <button
        class="btn btn-primary"
        hx-get="/courses/{{course_id}}"
        hx-target="#detail"
        hx-swap="innerHTML"
      >
        Go back
      </button>
      <button
        class="btn"
        hx-get="/courses/{{course_id}}/standards/{{standard.id}}/assess"
        hx-target="#course-roster"
        hx-swap="outerHTML"
      >
        Add assessment
      </button>
      <button
        class="btn"
        id="bulk"
        _="on load set $dialog to the previous <dialog/> end on click call $dialog.showModal()"
      >
        Bulk add
      </button>
    </div>
  </div>
</div>
<table id="course-roster">
  <thead id="table-head">
    <tr>
      <th class="columnheader" role="columnheader">
        <div class="th-inner-container">
          <p _="on click toggle .show on the next <div/>">Name</p>
          <div class="outcome-actions">
            <span class="sort-trigger">Sort A-Z</span>
          </div>
        </div>
      </th>
      {% for header in headers %}
      <th>{{header}}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody class="scroller">
    {% for student in students %}
    {{render_partial('course/partials/student_entry.html', student=student,
    course=course, clickable=True)}} {% endfor %}
  </tbody>
</table>
