<!--
	This dialog allows for a bulk input of assignment names, scores, and comments.
	-->
<dialog _="on load set $dialog to me">
  <p>Bulk add assignments, scores, and comments</p>
  .
  <form id="bulk-form">
    <label for="score">Score</label>
    <input name="score" id="score" type="number" max="1" />
    <label for="assignment">Assignment</label>
    <select id="assignment" name="assignment">
      {% for assignment in assignments %}
      <option value="{{ assignment.id }}">{{assignment.name}}</option>
      {% endfor %}
    </select>
    <label for="comments">Comments</label>
    <textarea name="comments" id="comments"></textarea>
  </form>
  <button
    class="btn btn-primary"
    _="on click get (the previous <form />) as Values log it call bulkAddInfo(it) end"
  >
    Fill
  </button>
  <button class="btn" _="on click call $dialog.close()">Close</button>
</dialog>
<button
  class="btn btn-primary"
  hx-swap-oob="outerHTML:#roster-button"
  hx-get="/courses/{{course_id}}"
  hx-target="#course-detail"
  hx-swap="innerHTML"
>
  Go back
</button>
<button
  class="btn"
  hx-swap-oob="outerHTML:#assess-button"
  hx-get="/courses/{{course_id}}/standards/{{standard_id}}/assess"
  hx-target="#course-roster"
  hx-swap="outerHTML"
>
  Add assessment
</button>
<button
  class="btn"
  hx-swap-oob="outerHTML:#bulk-button"
  id="bulk"
  _="on load set $dialog to the previous <dialog/> end on click call $dialog.showModal()"
>
  Bulk add
</button>
<table id="course-roster" _="install Sortable">
  <thead id="table-head">
    <tr>
      <th class="columnheader" role="columnheader">
        <div class="th-inner-container">
          <p _="on click toggle .show on the next <div/>">Name</p>
          <div class="outcome-actions">
            <span class="sort-trigger">Sort A-Z</span>
          </div>
        </div>
      </th>
      {% for header in headers %}
      <th>{{header}}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody class="scroller">
    {% for student in students %}
    {{render_partial('course/partials/student_entry.html', student=student,
    course=course, clickable=True)}} {% endfor %}
  </tbody>
</table>
