<tr id="student_{{student.id}}"> 
    <td class="{% if student.is_proficient %}green{% else %}red{%endif%}">{{student.last_name}}, {{ student.first_name }}</td>
    {% for attempt in student.scores %}
    <td {% if attempt["assessed_on"] %} class="tooltip" data-assignment-name="{{attempt['assessed_on']['name']}}" {% endif %} hx-trigger="click"
        hx-get="/standards/{{attempt.standard['id']}}/users/{{student.id}}/results/{{attempt.id}}" hx-target="main"
        hx-swap="beforeend" >
        {{attempt.score}}
    </td>
    {%endfor%}
</tr>
