<h1>Student Details</h1>
<h2>{{ user.last_name }}, {{ user.first_name }}</h2>
<button hx-get="/users/{{user.id}}/assess?course_id={{course_id}}" hx-target="#form-wrapper" hx-swap="innerHTML">Add
	assessment</button>
<div id="form-wrapper"></div>
{% for k, v in standards.items() %}
<div class="student-summary-standard-header" _="on load 
        set :myChart to the .sparkline in me 
        then call sparkline(:myChart[0], {{ scores_only[k] }}) end">
	<h2>{{k}}</h2>
	<svg class="sparkline" width="150" height="20" stroke-width="2"></svg>
</div>
<table class="user-summary">
	<thead>
		<tr>
			<th class="columnheader" role="columnheader">
				Occurred
			</th>
			<th class="columnheader" role="columnheader">Assignment</th>
			<th class="columnheader" role="columnheader">Score</th>
		</tr>
	</thead>
	<tbody>
		{% for item in v %}
		<tr>
			<td>{{item.occurred}}</td>
			<td>{{item.assignment}}</td>
			<td>{{item.score}}</td>
		</tr>
		{% endfor %}
		</tr>
	</tbody>
</table>
{% endfor %}
<!-- 
	loop each standard
	Include attempt for each standard
	Show sparkline of progress
	-->