<h1>{{ user.last_name }}, {{ user.first_name }}</h1>
<button class="btn btn-primary" hx-put="/users/{{user.id}}/status" hx-swap="innerHTML">{% if user.active
	%}Deactivate{%
	else %}Activate{%
	endif %}</button>
	<div class="box flex">
	{% for key, values in standards.items() %}
	<a class="box pill {% if values['is_proficient'] %}green{% else %}red{% endif %}" href="#{{key}}">{{key}}</a>
	{% endfor %}
	</div>
{% for key, values in standards.items()|sort(attribute="0", reverse=True) %}
<div class="student-summary-standard-header">
	<h2 id="{{key}}">{{key}}</h2>
  <span class="box flex form-row">
    <input 
			hx-post="/standards/{{values['id']}}/override?user_id={{user.id}}"
			hx-trigger="click"
			type="checkbox" 
			class="align-check" 
			name="proficient_override" 
			{% if values['is_proficient'] %}checked disabled{% endif %}/>
    <label for="proficient_override">{% if values['is_proficient'] %}Proficient{% else %}Override?{% endif %}</label>
  </span>
</div>
<table class="user-summary">
	<thead>
		<tr>
			<th class="columnheader" role="columnheader">
				Occurred
			</th>
			<th class="columnheader" role="columnheader">Assignment</th>
			<th class="columnheader" role="columnheader">Score</th>
			<th class="columnheader" role="columnheader">Comment</th>
		</tr>
	</thead>
	<tbody>
		{% for entry in values["assessments"] %}
		<tr>
			<td>{{entry["occurred"]}}</td>
			<td>{{entry["assignment"].name}}</td>
			<td>{{entry["score"]}}</td>
			<td>{{entry["comments"]}}</td>
		</tr>
		{% endfor %}
		</tr>
	</tbody>
</table>
{% endfor %}
