<h1>{{ user.last_name }}, {{ user.first_name }}</h1>
<button class="btn btn-primary" hx-put="/users/{{user.id}}/status" hx-swap="innerHTML">{% if user.active
	%}Deactivate{%
	else %}Activate{%
	endif %}</button>
{% for k, v in standards.items() %}
<div class="student-summary-standard-header" _="on load 
        set :myChart to the .sparkline in me 
        then call sparkline(:myChart[0], {{ scores_only[k] }}) end">
	<h2>{{k}}</h2>
	<svg class="sparkline" width="150" height="20" stroke-width="2"></svg>
</div>
<table class="user-summary">
	<thead>
		<tr>
			<th class="columnheader" role="columnheader">
				Occurred
			</th>
			<th class="columnheader" role="columnheader">Assignment</th>
			<th class="columnheader" role="columnheader">Score</th>
		</tr>
	</thead>
	<tbody>
		{% for item in v %}
		<tr>
			<td>{{item.occurred}}</td>
			<td>{{item.assignment}}</td>
			<td>{{item.score}}</td>
		</tr>
		{% endfor %}
		</tr>
	</tbody>
</table>
{% endfor %}