<div class="admin-header">
  <div class="actions-container">
    <h1>Admin</h1>
    <button
      class="btn"
      hx-get="{{ url_for('assignment.index')}}"
      hx-target="#detail"
      hx-swap="innerHTML"
      hx-boost="true"
    >
      Assignments
    </button>
    <button
      class="btn"
      hx-get="{{ url_for('course.index')}}"
      hx-target="#detail"
      hx-swap="innerHTML"
      hx-boost="true"
    >
      Courses
    </button>
    <button
      class="btn"
      hx-get="{{ url_for('standard.index') }}"
      hx-target="#detail"
      hx-swap="innerHTML"
      hx-boost="true"
      hx-push-url="true"
    >
      Standards
    </button>
    <button
      class="btn"
      hx-get="{{ url_for('user.index')}}"
      hx-target="#detail"
      hx-swap="innerHTML"
      hx-boost="true"
    >
      Users
    </button>
  </div>
</div>
<canvas id="chart"></canvas>
<script>
  data = {{ status|safe }}

  processedData = [];

  ctx = document.getElementById("chart").getContext("2d");
  chart = new Chart(ctx, {
    type: "line",
    data: {
      labels: data[0].results.map(item => item.name),
      datasets: processedData,
    },
    options: {
      plugins: {
        legend: {
          position: "right"
        }
      },
      scales: {
        y: {
          beginAtZero: true,
        }
      },
      tension: 0.1,
    }
  });

  function processCourseData(data) {
    processedData = [];
    if(!data.length) return
    for (let course of data) {
      processedData.push({
        "label": course.course,
        "data": course.results.map((item) => item.avg),
        "fill": false
      })
    }
    chart.data.datasets = processedData;
    chart.update()
  }

  processCourseData(data)
</script>
