<div class="box grid" id="admin-standards">
  <div class="box stack">
    {% for standard in standards %}
    <div class="item outcome">
      <h2>{{ standard.name }}</h2>
      <div class="actions">
        <button
          class="btn btn-primary"
          hx-put="/standards/{{standard.id}}/status"
          hx-swap="innerHTML"
        >
          {% if standard.active %}Deactivate{% else %}Activate{% endif %}
        </button>
        <button
          hx-get="{{ url_for('standard.get_single_standard', standard_id=standard.id)}}"
          hx-swap="none"
        >
          Get data
        </button>
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="admin-details">
    <canvas id="chart"></canvas>
  </div>
</div>
<script>
  htmx.on("buildChart", (vals) => {
    console.log(this.chart instanceof Chart);
    if (this.chart instanceof Chart) {
      this.chart.destroy();
    }
    let results = vals.detail.value;
    let ctx = document.querySelector(`#chart`).getContext(`2d`);
    let data = {
      labels: results.map((item) => item.course),
      datasets: [
        {
          label: "Proficient Average",
          data: results.map((item) => item.avg),
        },
      ],
    };
    this.chart = new Chart(ctx, {
      type: "bar",
      data: data,
    });
  });
</script>
