<div class="box grid" id="admin-standards">
  <div class="box stack">
    {% for standard in standards %}
    <div class="item outcome">
      <h2>{{ standard.name }}</h2>
      <p>{{ standard.description }}</p>
      <div class="actions">
        <button
          class="btn btn-primary"
          hx-put="/standards/{{standard.id}}/status"
          hx-swap="innerHTML"
        >
          {% if standard.active %}Deactivate{% else %}Activate{% endif %}
        </button>
        <button
          class="btn btn-secondary"
          hx-get="{{ url_for('standard.get_single_standard', standard_id=standard.id)}}"
          hx-swap="none"
          _="on click remove .active from .outcome then add .active to the closest parent .outcome"
        >
          Details
        </button>
        <button
          class="btn"
          hx-trigger="click"
          hx-get="{{ url_for('standard.get_standard_edit_form', standard_id=standard.id)}}"
          hx-swap="innerHTML"
          hx-target="closest .item.outcome"
        >
          Edit
        </button>
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="box" id="admin-details">
    <canvas id="chart"></canvas>
  </div>
</div>
<script>
  htmx.on("buildChart", (vals) => {
    function parseData(data) {
      console.log(data);
      return data.map((course) => {
        return {
          label: course.name,
          data: course.assignments.map((a) => a.avg),
        };
      });
    }

    /*
    if (this.chart instanceof Chart) {
      this.chart.destroy();
    }
    */

    let results = vals.detail.value;
    ctx = document.querySelector(`#chart`).getContext(`2d`);

    data = {
      labels: results[0].assignments.map((item) => item.assignment),
      datasets: parseData(results),
    };

    chart.data = data;
    console.log(chart);
    chart.update();

    /*
    this.chart = new Chart(ctx, {
      type: "line",
      data: data,
    });
    */
  });
</script>
