<div class="item outcome" _="on delete remove me">
	<h3>{{item.name}}</h3>
	<p>{{item.description}}</p>
	<button class="btn" hx-get="/courses/{{course_id}}/standards/{{item.id}}/results" hx-target="#scores"
		hx-swap="innerHTML" _="on click remove .active from .outcome then add .active to closest .item">Score
		Details</button>
	<button class="btn" hx-trigger="confirmed" hx-delete="/courses/{{course_id}}/standards/{{item.id}}"
		hx-target="#course-details" hx-swap="innerHTML" _='on click
                call Swal.fire({
                    title:"Are you sure?",
                    text: "This will remove the standard and any stored attempts for all students in the course.",
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonText: "Yes, remove the standard from the course",
                    cancelButtonText: "Cancel",
                    confirmButtonColor: "#f55951",
                    cancelButtonColor: "#361d32"
                })
                if result.isConfirmed trigger confirmed
                end
                on htmx:afterRequest(detail) if detail.xhr.status is 200 trigger delete'>
		Delete
	</button>
</div>