{% if position == "right" %}
<section
  _="on closeModal
        add .hide to me
        then wait 1s
        then remove me
        end
        "
  id="{{position}}-sidebar"
  class="sidebar sidebar--{{ position }} {{'hide' if hide}}"
>
  {% endif %} {%if position == 'right' %}
  <button class="btn-close" _="on click trigger closeModal">× close</button>
  <h2>{{title}}</h2>
  {% endif %}
  <div id="{{position}}-sidebar-inner">
    {{ render_partial(partial, course_id=course_id, types=types) }} {% if items
    %} {% for item in items %} {{
    render_partial('standards/standard-small.html', item=item,
    course_id=course_id )}} {%endfor%} {% endif %}
  </div>
</section>
