<div class="item outcome" _="on delete remove me">
  <h3>{{item.display_name}}</h3>
  <p>{{item.description}}</p>
  <div class="box flex">
    <p class="box pill green">{{results.proficient}}</p>
    <p class="box pill red">{{results.not_proficient}}</p>
    <!-- <p>Average: {{ results.average }}</p> -->
  </div>
  <button
    class="btn"
    hx-get="/courses/{{course_id}}/standards/{{item.id}}/results"
    hx-target="#context-detail"
    hx-swap="innerHTML"
  >
    Score Details
  </button>
  <button
    class="btn"
    hx-trigger="confirmed"
    hx-delete="/courses/{{course_id}}/standards/{{item.id}}"
    hx-target="#detail"
    hx-swap="innerHTML"
    _='on click
                call Swal.fire({
                    title:"Are you sure?",
                    text: "This will remove the standard and any stored attempts for all students in the course.",
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonText: "Yes, remove the standard from the course",
                    cancelButtonText: "Cancel",
                    confirmButtonColor: "#f55951",
                    cancelButtonColor: "#361d32"
                })
                if result.isConfirmed trigger confirmed
                end
                on htmx:afterRequest(detail) if detail.xhr.status is 200 trigger delete'
  >
    Delete
  </button>
</div>
