{% for student in students %}
<tr>
	<input type="hidden" name="standard_id" value={{standard_id}} />
	<input type="hidden" name="user_id" value={{student.id}} />
	<td>{{student.last_name}}, {{student.first_name}}</td>
	<td>
		<label>Score
			<input type="number" name="score" />
		</label>
	</td>
	<td>
		<label>Comments
			<textarea maxlength=1000 name="comments" _="
				init put my @maxlength into #max-len end
				on keyup 
					put (@maxlength - my value.length) into #max-len"></textarea><span id="length-meta"><span id="max-len"></span>
				characters left.</span></label>
	</td>
	<td>
		<button class="btn" hx-post="/standards/{{standard_id}}/attempts" hx-include="closest tr" hx-swap="outerHTML"
			hx-target="closest tr">Save</button>
	</td>
</tr>
{% endfor %}