<table id="student-scores">
  <thead _="install Sortable">
    <tr>
      <th class="columnheader" role="columnheader">
        <p>Date</p>
      </th>
      <th class="columnheader" role="columnheader">
        <p>Assignment</p>
      </th>
      <th class="columnheader" role="columnheader">
        <p>Proficient</p>
      </th>
      <th class="columnheader" role="columnheader">
        <p>Comments</p>
      </th>
    </tr>
  </thead>
  <tbody>
    {% for result in results %}
    <tr>
      <td>{{result.occurred}}</td>
      <td>{{result.assignment}}</td>
      <td>{% if result.score > 0 %}&#x2713;{% else %}&#x274C;{% endif %}</td>
      <td>{{result.comments}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
