<form
  hx-trigger="submit"
  hx-put="/standards/{{attempt.standard_id}}/attempts/{{attempt.id}}"
  hx-swap="outerHTML"
  hx-target="#student_{{attempt.user.id}}"
>
  <h2>{{attempt.user.last_name}}, {{attempt.user.first_name}}</h2>
  <label>
    Assignment name
    <input type="text" value="{{attempt.assignment}}" name="assignment" />
  </label>
  <label>
    Score
    <input
      type="number"
      min="0"
      max="4"
      value="{{attempt.score}}"
      name="score"
    />
  </label>
  <label>
    Standard
    <select name="standard_id">
      {% for standard in standards %}
      <!-- prettier-ignore -->
      <option
        value="{{standard.id}}"
        {% if standard.id == "attempt.standard_id" %}
        selected
        {% endif %}
      >
        {{standard.name}}
      </option>
      {% endfor %}
    </select>
  </label>
  <label>
    Comments
    <textarea name="comments"> {{attempt.comments}}</textarea>
  </label>
  <button class="btn btn-primary" type="submit">Save</button>
</form>
<button
  hx-get="/standards/{{attempt.standard['id']}}/users/{{attempt.user.id}}/results/{{attempt.id}}"
  hx-swap="innerHTML"
  hx-target="#right-sidebar-inner"
>
  Cancel
</button>
<button
  hx-delete="/standards/{{attempt.standard['id']}}/attempts/{{attempt.id}}"
  hx-swap="none"
>
  Delete
</button>
