<form
  hx-trigger="submit"
  hx-put="/standards/{{attempt.standard_id}}/attempts/{{attempt.id}}?source=standard"
  hx-swap="outerHTML"
  hx-target="#student_{{attempt.user.id}}"
>
  <h2>{{attempt.user.last_name}}, {{attempt.user.first_name}}</h2>
  <label for="assignment-select">
    Assignment name</label>
    <select name="assignment" id="assignment-select">
      {% for assignment in assignments %}
      <option 
        value="{{ assignment.id }}"
        {% if attempt.assignment_id == assignment.id %} selected {% endif %}
        >{{ assignment.name }}</option>
      {% endfor %}
    </select>
  <label for="score">
    Score</label>
    <input
      type="number"
      min="0"
      max="2"
      value="{{attempt.score}}"
      name="score"
      id="score"
    />
  <label for="standard">
    Standard</label>
    <select name="standard_id" id="standard">
      {% for standard in standards %}
      <option
        value="{{standard.id}}"
        {% if standard.id == attempt.standard_id %}
        selected
        {% endif %}
      >
        {{standard.name}}
      </option>
      {% endfor %}
    </select>
  <label for="comments">
    Comments
    <textarea name="comments" id="comments"> {{attempt.comments}}</textarea>
  <button class="btn btn-primary" type="submit">Save</button>
</form>
<button
  hx-get="/standards/{{attempt.standard['id']}}/users/{{attempt.user.id}}/results/{{attempt.id}}"
  hx-swap="innerHTML"
  hx-target="#right-sidebar-inner"
>
  Cancel
</button>
<button
  hx-delete="/standards/{{attempt.standard['id']}}/attempts/{{attempt.id}}"
  hx-swap="none"
>
  Delete
</button>
