{% extends '_layout.html' %} {% block main_content %}
<div class="box flex column" id="login-form">
  <h2>Log in</h2>
  <form class="stack" hx-trigger="submit" hx-post="/login">
    <label for="email"
      >Email
      <input type="email" name="email" required />
    </label>
    <label for="password"
      >Password
      <input type="password" name="password" required />
    </label>
    <span class="box flex form-row">
      <input type="checkbox" class="align-check" name="remember_me" />
      <label for="remember_me">Keep me logged in </label>
    </span>
    <input type="submit" />
  </form>
</div>
{% endblock %}
