<h2>Hello {{first_name.title()}}</h2>
<form hx-trigger="submit" hx-post="/register">
  <input type="hidden" name="email" value="{{email}}" />
  <label
    >Password
    <input
      type="password"
      name="password"
      value=""
      required
      _="on blur set $pass to my value"
    />
  </label>
  <label
    >Retype password
    <input
      _="on blur if my value is not $pass put 'Your passwords do not match' into #notice otherwise put '' into #notice"
      type="password"
      name="password_again"
      required
    />
  </label>
  <input type="submit" />
</form>
<div id="error">{{error}}</div>
<div id="notice">{{notice}}</div>
