<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}OutcomeMaps{% endblock %}</title>
    <!-- load this in the head to be used later -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.7/dist/chart.umd.min.js"></script>
    <link rel="icon" href="{{ url_for('static', filename='favicon.svg')}}" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/main.css') }}"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Inter"
      rel="stylesheet"
    />
    <script>
      /* Initialize a bunch of variables to use on admin pages. Feels a little hacky. */
      let processedData;
      let ctx;
      let chart;
      let data;
    </script>
    {% block additional_css %} {% endblock %}
  </head>

  <body _="on keyup[key is 'Escape'] trigger closeModal">
    <main>
      {% block sidebar %} {% endblock %} {% block main_content %}
      <section id="detail"></section>
      {% endblock %}
    </main>
    {% include 'shared/partials/toast.html' %}
    <script
      type="module"
      src="{{ url_for('static', filename='js/main.js') }}"
    ></script>
    <script src="https://unpkg.com/htmx.org@1.9.4"></script>
    <script src="https://unpkg.com/hyperscript.org@0.9.13"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    {% block additional_js %} {% endblock %}
  </body>
</html>
